{% extends "layout.html" %}
{% block title%}Download Manager{% endblock %}
{% block content %}

<ul id="download-list" class="list-group">
</ul>

<template id="download-template">
    <li class="list-group-item" id="placeholder">
        <div class="card">
            <div class="card-header py-2">
                <h5 class="card-title"><a href="#" class="download-title"></a></h5>
            </div>
            <div class="card-body row py-1">
                <div class="col-9 align-self-center">
                    <div class="progress">
                        <div class="download-bar progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
                <div class="col-1 align-self-center">
                    <button type="button" class="btn btn-primary download-cancel">Cancel</button>
                </div>
                <div class="col-1 align-self-center">
                    <button type="button" class="btn btn-primary download-remove">Remove</button>
                </div>
            </div>
            <div class="card-footer text-muted py-1">
                <p class="card-text download-size"></p>
            </div>
        </div>
    </li>
</template>
{% endblock %}
{% block scripts %}
<script>
    var URLS = {
        'status': "{{ url('status') }}",
        'remove': "{{ url('remove') }}",
        'cancel': "{{ url('cancel') }}",
        'sse': "{{ url('sse') }}",
    };
    function humanFileSize(size) {
        var i = Math.floor( Math.log(size) / Math.log(1024) );
        return ( size / Math.pow(1024, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
    };

    class Download {
        constructor(data) {
            this.update(data, true);
            this.element = $('#download-template').contents().clone();
            this.element.find('#placeholder').attr('id', this.id);
            this.element.find('.download-title').text(this.name);
            this.element.find('.download-size').text(humanFileSize(this.size));
            this.element.find('.download-cancel').on('click', this.cancel.bind(this));
            this.element.find('.download-remove').on('click', this.remove.bind(this));
            $('#download-list').append(this.element);
            this.updateUI();
        }

        update(data, initial=false) {
            this.name = data['name'];
            this.size = data['size'];
            this.complete = data['complete'];
            this.id = data['id'];
            this.failed = data['failed'];
            this.finished = data['finished'];
            if (!initial) {
                this.updateUI()
            }
        }

        updateUI() {
            var percent = (this.complete / this.size) * 100
            var bar = this.element.find('.download-bar')
            bar.css("width", percent + "%").text(percent + "%");
            bar.attr("aria-valuenow", percent);
            if (this.finished || this.failed) {
                this.element.find('.download-cancel').attr('disabled', true);
                bar.removeClass(['progress-bar-striped', 'progress-bar-animated'])
            } else {
                bar.removeClass(['bg-success', 'bg-danger'])
                this.element.find('.download-cancel').attr('disabled', false);
            }
            if (this.finished) {
                bar.addClass('bg-success');
            } else if (this.failed) {
                bar.addClass('bg-danger');
            } else {
                bar.addClass(['progress-bar-striped', 'progress-bar-animated']);
            }
        }

        remove() {
            $.post(URLS['remove'], {'id': this.id}, 'json');
        }

        destroy() {
            this.element.remove()
        }

        cancel() {
            $.post(URLS['cancel'], {'id': this.id}, 'json');
        }
    }

    class DownloadManager {
        constructor() {
            this.downloads = {};
            $.getJSON(URLS['status'], function(data) {
                data.forEach(this.addDownload.bind(this));
            }.bind(this));
            this.events = new EventSource(URLS['sse']);
            this.events.addEventListener("update", this.update.bind(this));
            this.events.addEventListener("remove", this.remove.bind(this));
            this.events.addEventListener("add", this.add.bind(this));
        }

        addDownload(element) {
            this.downloads[element.id] = new Download(element);
        }

        processEvent(event, func) {
            var data = JSON.parse(event.data);
            data.forEach(function(element) {
                if (element.id in this.downloads) {
                    func(this.downloads[element.id], element);
                };
            }.bind(this));
        }

        remove(event) {
            this.processEvent(event, function(download, element) {
                download.destroy();
                delete this.downloads[element.id];
            }.bind(this))
        }
        add(event) {
            var data = JSON.parse(event.data);
            data.forEach(function(element) {
                this.addDownload(element);
            }.bind(this));
        }
        update(event) {
            this.processEvent(event, function(download, element) {
                download.update(element)
            })
        }
    }
    dm = new DownloadManager();
</script>
{% endblock %}
