{% extends "layout.html" %}
{% from 'macros.html' import icon %}
{% block title%}Download Manager{% endblock %}
{% block content %}

<ul id="download-list" class="list-group">
    <li class="list-group-item">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-11 align-self-center">
                            <input type="text" class="form-control bg-dark" id="url" placeholder="URL">
                        </div>
                        <div class="col-1 align-self-center">
                            <button type="button" class="btn btn-primary" id="add-button">{{ icon("download", title="Add download") }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>

<template id="download-template">
    <li class="list-group-item" id="placeholder">
        <div class="card">
            <div class="card-header py-2">
                <h5 class="card-title"><a href="#" class="download-title"></a></h5>
            </div>
            <div class="card-body row py-1">
                <div class="col-11 align-self-center">
                    <div class="progress">
                        <div class="download-bar progress-bar progress-bar-striped progress-bar-animated" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
                <div class="col-1 align-self-center btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary download-cancel">{{ icon("cancel", title="Cancel download") }}</button>
                    <button type="button" class="btn btn-primary download-remove">{{ icon("remove", title="Remove download") }}</button>
                </div>
            </div>
            <div class="card-footer text-muted py-1">
                <p class="card-text"><span class="download-complete"></span> / <span class="download-size"></span></p>
            </div>
        </div>
    </li>
</template>
{% endblock %}
{% block scripts %}
<script>
    var URLS = {
        'status': "{{ url('status') }}",
        'remove': "{{ url('remove') }}",
        'cancel': "{{ url('cancel') }}",
        'add': "{{ url('add') }}",
        'sse': "{{ url('sse') }}",
    };
</script>
<script src="{{ url('static', filename='dlman.js') }}"></script>
{% endblock %}
