{%- macro icon(name, title='') -%}
{% set _map = {
    "download": "dl-cloud-download",
    "remove": "dl-bin2",
    "cancel": "dl-cancel-circle",
} %}<span class="{{ _map.get(name) }}"{% if title %} title="{{ title }}"{% endif %}></span>{%- endmacro -%}